<!DOCTYPE html>
<html>
    <%- include('head', {meta_data: { title: data.current_blog.title, description: data.current_blog.description }}); %>
    <%- include('header'); %>
    <div class="container">
        <div class="row">
          <!-- Latest Posts -->
          <main class="post blog-post col-lg-8"> 
            <div class="container">
              <div class="post-single">
                <div class="post-thumbnail"><img src="/img/blog-post-3.jpeg" alt="..." class="img-fluid"></div>
                <div class="post-details">
                  <h1><%- data.current_blog.title %></h1>
                    <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                        <div class="title"><span><%- data.current_blog.author %></span></div></a>
                    <div class="d-flex align-items-center flex-wrap">       
                        <div class="date"><i class="icon-clock"></i><%- data.current_blog.publish_date %></div>
                        <div class="comments meta-last"><i class="icon-comment"></i><%- data.blog_comments.length %></div>
                    </div>
                    </div>

                
                  <div class="post-body">
                    <%- data.current_blog.content %>
                  </div>
                
                  <!-- Prev and Next Posts -->
                  <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                    <% if(data.current_blog.blog_index > 0) { %>
                        <a href="/blog/<%- data.all_blogs[data.current_blog.blog_index-1].slug %>" class="prev-post text-left d-flex align-items-center">
                        <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                        <div class="text"><strong class="text-primary">Previous Post </strong>
                            <h6><%- data.all_blogs[data.current_blog.blog_index-1].title %></h6>
                        </div>
                        </a>
                    <% } %>

                    <% if(data.current_blog.blog_index < data.all_blogs.length-1) { %>
                        <a href="/blog/<%-data.all_blogs[data.current_blog.blog_index+1].slug %>" class="next-post text-right d-flex align-items-center justify-content-end">
                        <div class="text"><strong class="text-primary">Next Post </strong>
                            <h6><%-data.all_blogs[data.current_blog.blog_index+1].title %></h6>
                        </div>
                        <div class="icon next"><i class="fa fa-angle-right"></i></div>
                        </a>
                    <% } %>
                  </div>


                  <!-- Comments -->
                  <div class="post-comments">
                    <header>
                      <h3 class="h6">Post Comments<span class="no-of-comments">(<%- data.blog_comments.length %>)</span></h3>
                    </header>
                    <% for(let i = 0; i < data.blog_comments.length; i++) { %>
                        <div class="comment">
                        <div class="comment-header d-flex justify-content-between">
                            <div class="user d-flex align-items-center">
                            <div class="image"><img src="/img/user.svg" alt="..." class="img-fluid rounded-circle"></div>
                            <div class="title"><strong><%- data.blog_comments[i].user %></strong><span class="date"><%- data.blog_comments[i].date %></span></div>
                            </div>
                        </div>
                        <div class="comment-body">
                            <p><%- data.blog_comments[i].content %></p>
                        </div>
                        </div>
                    <% } %>
                  </div>

                  <span id='blog_id_variable' hidden>
                    <%- JSON.stringify(data.current_blog.id) %>
                  </span>

                  <div class="add-comment">
                    <header>
                      <h3 class="h6">Leave a reply</h3>
                    </header>
                    <form action="#" id="commentform" class="commenting-form">
                      <div class="row">
                        <div class="form-group col-md-6">
                          <input type="text" name="username" id="username" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                          
                        </div>
                        <div class="form-group col-md-12">
                          <textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control" required></textarea>
                        </div>
                        <div class="form-group col-md-12">
                          <button onclick="submitComment()" type="submit" class="btn btn-secondary">Submit Comment</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </main>
          <aside class="col-lg-4">
            <!-- Widget [Latest Posts Widget]        -->
            <div class="widget latest-posts">
              <header>
                <h3 class="h6">Latest Posts</h3>
              </header>
              <div class="blog-posts">
                <% for(let i = 0; i < 3; i++) { %>  
                    <a href="/blog/<%- data.all_blogs[i].slug %>">
                        <div class="item d-flex">
                            <div class="image">
                                <img src="/img/small-thumbnail-1.jpg" alt="..." class="img-fluid">
                            </div>
                            <div>
                                <div class="title">
                                    <strong><%- data.all_blogs[i].title %></strong>
                                </div>
                                <div class="date">
                                    <span><%- data.all_blogs[i].publish_date %></span>
                                </div>
                            </div>
                        </div>
                    </a>
                <% } %>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <%- include('footer', {all_blogs: data.all_blogs}); %>
</html>

